body {
  background-color: #95A5A6;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -85.5px;
}

.ghost {
  animation: float 3s ease-out infinite;
  -webkit-animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
     -webkit-transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  -webkit-animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  ellipse {
    transform-origin: center center;
    -webkit-transform-origin: center center;
  }
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

.message {
	bottom: 100px;
	position: fixed;
	left: 50%;
	margin-left: -50px;
}