body {
	-webkit-backface-visibility: hidden;
}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

body {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	        -webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

::selection { 
    background-color: #95A5A6; 
    color: white; 
}

::-moz-selection { 
    background-color: #95A5A6; 
    color: white; 
}

body {
    background-color: white;
	color: #4e4e4e;
}

.menuopen {
	background-image: url(../images/menuopenblack.svg);
}

.menuclose {
	background-image: url(../images/menucloseblack.svg);
}

.menu .searchopen, .menu .searchclose {
	background-image: url(../images/searchblack.svg);
}

.menu .logout {
  background-image: url(../images/logoutblack.svg);
}

.menu .fullscreen {
  background-image: url(../images/fullscreenblack.svg);
}

.menu .day {
	background-image: url(../images/night.svg);
}

.menu .night {
	display: none;
}