::selection { 
    background-color: lime; 
    color: black; 
}

::-moz-selection { 
    background-color: lime; 
    color: black; 
}

body {
    background-color: black;
	color: lime;
}

textarea {
	background: black;
    color: lime;
    text-shadow: 0px 0px 1px ;
    line-height: 30px;
    font-family: "Courier New", Courier, monospace;
}

.menuopen {
	background-image: url(../images/menuopenwhite.svg);
	background-size: 14px 16px;
}

.menuclose {
	background-image: url(../images/menuclosewhite.svg);
	background-size: 16px 16px;
}

.menu .searchopen, .menu .searchclose {
	background-image: url(../images/searchwhite.svg);
	background-size: 14px 14px;
}

.menu .logout {
  background-image: url(../images/logoutwhite.svg);
  background-size: 14px 14px;
}

.menu .night {
	background-image: url(../images/day.svg);
	background-size: 16px 16px;
}

.menu .day {
	display: none;
}