body {
	-webkit-backface-visibility: hidden;
}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

body {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	        -webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

::selection { 
    background-color: white; 
    color: black; 
}

::-moz-selection { 
    background-color: white; 
    color: black; 
}

body {
    background-color: black;
	color: white;
}

textarea {
	background-color: black;
	color: white;
}

.menuopen {
	background-image: url(../images/menuopenwhite.svg);
}

.menuclose {
	background-image: url(../images/menuclosewhite.svg);
	background-size: 16px 16px;
}

.menu .searchopen, .menu .searchclose {
	background-image: url(../images/searchwhite.svg);
	background-size: 14px 14px;
}

.menu .logout {
  background-image: url(../images/logoutwhite.svg);
  background-size: 14px 14px;
}

.menu .fullscreen {
  background-image: url(../images/fullscreenwhite.svg);
}

.menu .night {
	background-image: url(../images/day.svg);
	background-size: 16px 16px;
}

.menu .day {
	display: none;
}