textarea {
    width: 100vw;
    height: 100%;
	resize: none;
	line-height: 24px;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 100px;
	padding-bottom: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}