* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	user-select: none;
	-{prefix}-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}
      
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	margin: 0;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

a, a:visited {
	color: #4e4e4e;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

textarea {
    width: 100vw;
    height: 100%;
	resize: none;
	line-height: 24px;
	padding: 60px;
	tab-size: 4;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.login {
	max-width: 280px;
	display: block;
	text-align: center;
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
}

.login .icon {
	width: 80px;
	height: auto;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.login a .icon:hover, .login a .icon:active {
	opacity: 0.6;
}

.login form {
	margin-top: 30px;
}

.login form input {
	width: 100%;
	padding: 10px 15px 10px 15px;
}

.login .username, .login .password {
	margin-top: 10px;
	background-color: white;
	border: 1px solid #95A5A6;
	width: calc(100% - 32px);
	width: -moz-calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
    width: -o-calc(100% - 32px);
}

.login .submit {
	background-color: #95A5A6;
	color: white;
	margin-top: 20px;
	width: 100%;
	max-width: 250px;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.login .submit:hover, .login .submit:active {
	background-color: white;
	border: 2px solid #95A5A6;
	color: #95A5A6;
	height: 42px;
	line-height: 18px;
}

.login .register {
	text-decoration: none;
	border-bottom: 1px solid #4e4e4e;
	padding-bottom: 1px;
	font-size: 12px;
	line-height: 44px;
}

.login .register:hover, .login .register:active {
	opacity: 0.6;
}

::-webkit-input-placeholder {
	color: #4e4e4e;
}

::-moz-placeholder {
	color: #4e4e4e;
}

:-ms-input-placeholder {
	color: #4e4e4e;
}

input:-moz-placeholder {
	color: #4e4e4e;
}

.menuopen {
	position: fixed;
	right: 15px;
	bottom: 15px;
    z-index: 1;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
	padding: 12px;
}

.menuopen:hover {
	-webkit-animation-name: spinshort;
    -webkit-animation-duration: 600ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinshort;
    -moz-animation-duration: 600ms;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinshort;
    -ms-animation-duration: 600ms;
    -ms-animation-timing-function: linear;
    animation-name: spinshort;
    animation-duration: 600ms;
    animation-timing-function: linear;
}

@-ms-keyframes spinshort {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(45deg); }
}
@-moz-keyframes spinshort {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(45deg); }
}
@-webkit-keyframes spinshort {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(45deg); }
}
@keyframes spinshort {
    from { transform:rotate(0deg); }
    to { transform:rotate(45deg); }
}

.menuclose {
	position: fixed;
	right: 20px;
	bottom: 18px;
    z-index: 1;
    width: 30px;
    height: 30px;
    display: none;
    opacity: 0;
    background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 15px 14px;
}

.menu .searchopen {
	position: fixed;
	right: 128px;
	bottom: 19px;
	z-index: 1;
	width: 30px;
	height: 30px;
	margin-right: -150px;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 15px 16px;
}

.menu .searchclose {
	position: fixed;
	right: 20px;
	bottom: 19px;
	z-index: 1;
	width: 30px;
	height: 30px;
	display: none;
	opacity: 0;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 15px 16px;
}

.menu .sheet {
  position: fixed;
  right: 132px;
  bottom: 19px;
  z-index: 1;
}

.menu .logout {
  position: fixed;
  right: 102px;
  bottom: 19px;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-right: -120px;
  background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 15px 16px;
}

.menu .fullscreen {
  position: fixed;
  right: 74px;
  bottom: 19px;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-right: -100px;
  background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 15px 16px;
}

.menu .night, .menu .day {
	position: fixed;
	right: 46px;
	bottom: 18px;
	z-index: 1;
	width: 30px;
	height: 30px;
	margin-right: -100px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 14px 14px;
}

#network_status {
  position: fixed;
  bottom: 19px;
  right: 19px;
  z-index: 999;
  background-color: white;
  color: red;
}

#matrix {
	display: none;
}

.hidden {
	display: none;
}

.spinning {
	-webkit-animation-name: spin;
    -webkit-animation-duration: 600ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 600ms;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 600ms;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 600ms;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(90deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(90deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(90deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(90deg); }
}

.sheetstyles {
    width: 100vw;
    height: 100%;
	resize: none;
	line-height: 24px;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 100px;
	padding-bottom: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 500px) {

textarea {
	width: 100%;
	height: 100%;
	line-height: 22px;
	-webkit-overflow-scrolling: touch;
	padding: 30px;
}

.login {
	margin-top: 10vh;
}

}