* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
}
      
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-weight: 100;
}

.start {
	background-color: #95A5A6;
}

.menu a, .menu a:visited {
	color: white;
	text-decoration: none;
	float: left;
	margin-left: 60px;
	margin-top: 100px;
	padding-bottom: 2px;
	border-bottom: 1px solid white;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.menu a:hover {
	padding-bottom: 4px;
}

.menu .logo {
	margin-left: 80px;
	margin-top: 80px;
	border-bottom: none;
}

.menu .logo img {
	width: 50px;
	border: 2px solid white;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.menu .logo img:hover {
	opacity: 0.6;
}

.menu .signup {
	float: right;
	margin-right: 80px;
	-moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    background-color: white;
    margin-top: 90px;
}

.menu .signup, .menu .signup:visited {
	color: #95A5A6;
}

.menu .signup:hover {
	border: 2px solid white;
	background-color: #95A5A6;
	color: white;
	padding: 10px 25px 10px 25px;
	margin-top: 88px;
	margin-right: 78px;
}

.start .mockup {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	margin-bottom: -4px;
}

.features {
	border-top: 2px solid rgba(0,0,0,0.2);
	text-align: center;
}

.features .mockup {
	width: 100%;
	height: auto;
}

.features .text {
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 200px;
}

form {
	margin-top: -140px;
	margin-bottom: 200px;
}

input {
	border: 2px solid #95A5A6;
	-moz-border-radius: 30px;
    border-radius: 30px;
    text-align: right;
    padding: 10px 25px 10px 25px;
    -webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 80px;
}

label {
	position: absolute;
	padding-top: 14px;
	padding-left: 26px;
	color: #95A5A6;
}

input:hover {
	width: 140px;
}

footer {
	background-color: #95A5A6;
	line-height: 60px;
	color: white;
	font-size: 12px;
}

footer a, footer a:visited {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #95A5A6;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

footer a:hover {
	border-bottom: 1px solid white;
	padding-bottom: 1px;
}

footer .left {
	float: left;
	margin-left: 80px;
}

footer .right {
	float: right;
	margin-right: 80px;
}