
::selection { 
    background-color: black; 
    color: white; 
}

::-moz-selection { 
    background-color: black; 
    color: white; 
}

body {
    background-color: white;
	color: #4e4e4e;
}

.menuopen {
	background-image: url(../images/menuopenblack.svg);
	background-size: 14px 16px;
}

.menuclose {
	background-image: url(../images/menucloseblack.svg);
	background-size: 16px 16px;
}

.menu .searchopen, .menu .searchclose {
	background-image: url(../images/searchblack.svg);
	background-size: 14px 14px;
}

.menu .day {
	background-image: url(../images/night.svg);
	background-size: 16px 16px;
}

.menu .night {
	display: none;
}