::selection { 
    background-color: lime; 
    color: black; 
}

::-moz-selection { 
    background-color: lime; 
    color: black; 
}

body {
    background-color: black;
	color: lime;
}

textarea {
	background: black;
    color: lime;
    width: 100%;
    overflow: hidden;
    text-shadow: 0px 0px 1px ;
    line-height: 30px;
    font-family: "Courier New", Courier, monospace;
}

#matrix{
    color: lime;
    text-shadow: lime;
    display: block;
}
@-webkit-keyframes fadeing{
0%   { opacity: 1; }
100% { opacity: 0; }
}
@-webkit-keyframes falling{
from {top: -250px;}
to  {top: 388px;}
}
#matrix div{
position: absolute; 
top: 0;
text-transform: lowercase;
-webkit-transform:rotate(90deg);
-webkit-animation-name: falling, fadeing;
-webkit-animation-timing-function: ease-out;   
-webkit-animation-iteration-count: infinite; 
-webkit-animation-direction: normal; 
margin-left: 420px;
}
.t1{
-webkit-animation-duration: 4s;
}
.t2{
-webkit-animation-duration: 6s;
}
.t3{
-webkit-animation-duration: 8s;
}
.t4{
-webkit-animation-duration: 10s;
}
.t5{ 
-webkit-animation-duration: 13s;
}
.t6{ 
-webkit-animation-duration: 15s;
}

.menuopen {
	background-image: url(../images/menuopenwhite.svg);
	background-size: 14px 16px;
}

.menuclose {
	background-image: url(../images/menuclosewhite.svg);
	background-size: 16px 16px;
}

.menu .searchopen, .menu .searchclose {
	background-image: url(../images/searchwhite.svg);
	background-size: 14px 14px;
}

.menu .night {
	background-image: url(../images/day.svg);
	background-size: 16px 16px;
}

.menu .day {
	display: none;
}