::selection { 
    background-color: white; 
    color: black; 
}

::-moz-selection { 
    background-color: white; 
    color: black; 
}

body {
    background-color: black;
	color: white;
}

textarea {
	background-color: black;
	color: white;
}

.menuopen {
	background-image: url(../images/menuopenwhite.svg);
	background-size: 14px 16px;
}

.menuclose {
	background-image: url(../images/menuclosewhite.svg);
	background-size: 16px 16px;
}

.menu .searchopen, .menu .searchclose {
	background-image: url(../images/searchwhite.svg);
	background-size: 14px 14px;
}

.menu .night {
	background-image: url(../images/day.svg);
	background-size: 16px 16px;
}

.menu .day {
	display: none;
}