* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
    font-size: 14px;
    font-family: 'Merriweather', serif;
	margin: 0;
}

textarea {
	width: calc(100vw - 120px);
	width: -moz-calc(100vw - 120px);
    width: -webkit-calc(100vw - 120px);
    width: -o-calc(100vw - 120px);
	height: calc(100vh - 120px);
	height: -moz-calc(100vh - 120px);
    height: -webkit-calc(100vh - 120px);
    height: -o-calc(100vh - 120px);
	padding: 60px;
	resize: none;
	line-height: 22px;
}

@media screen and (max-width: 500px) {

textarea {
	width: calc(100vw - 60px);
	width: -moz-calc(100vw - 60px);
    width: -webkit-calc(100vw - 60px);
    width: -o-calc(100vw - 60px);
	height: calc(100vh - 60px);
	height: -moz-calc(100vh - 60px);
    height: -webkit-calc(100vh - 60px);
    height: -o-calc(100vh - 60px);
	padding: 30px;
	resize: none;
	line-height: 22px;
}

}

.counter {
	position: fixed;
	width: 100vw;
	height: 36px;
	text-align: center;
	bottom: 0px;
	opacity: 0;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.menuopen {
	position: fixed;
	right: 20px;
	bottom: 20px;
    z-index: 1;
    width: 14px;
    height: 14px;
}

.menuclose {
	position: fixed;
	right: 20px;
	bottom: 18px;
    z-index: 1;
    width: 16px;
    height: 16px;
    display: none;
    opacity: 0;
}

.menu .searchopen {
	position: fixed;
	right: 75px;
	bottom: 19px;
	z-index: 1;
	width: 14px;
	height: 14px;
	margin-right: -100px;
}

.menu .searchclose {
	position: fixed;
	right: 20px;
	bottom: 19px;
	z-index: 1;
	width: 14px;
	height: 14px;
	display: none;
	opacity: 0;
}

.menu .night, .menu .day {
	position: fixed;
	right: 46px;
	bottom: 18px;
	z-index: 1;
	width: 16px;
	height: 16px;
	margin-right: -100px;
}

#matrix {
	display: none;
}

input.search {
	position: fixed;
	right: 46px;
	bottom: 16px;
	z-index: 1;
	text-align: right;
	line-height: 20px;
	width: 100%;
	display: none;
	text-transform: uppercase;
}

.hidden {
	display: none;
}